{% extends 'base.html' %}


{% block title %}
Категории
{% endblock title %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
            <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Shop</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                        <li class="breadcrumb-item"><a class="text-dark" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container p-0">
        <div class="row">
            <!-- SHOP SIDEBAR-->
            {% include 'components/shop/_sidebar.html' %}
            <!-- SHOP LISTING-->
            <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                {% include 'components/shop/_filters.html' %}
                {% include 'components/shop/_products-row.html' %}

                <!-- PAGINATION-->
                {% include 'components/shop/_pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}