{% load static %}

<div class="product text-center">
    <div class="mb-3 position-relative">
        {% if product.product_type %}
        <div class="badge text-white bg-{{ product.get_class_by_type }}">{{ product.product_type }}</div>
        {% endif %}

        <a class="d-block" href="{{ product.get_absolute_url }}">
            <img class="img-fluid w-100" src="{{ product.get_first_photo }}" alt="...">
        </a>
        <div class="product-overlay">
            <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark"
                                                        href="#!"><i
                        class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                        href="cart.html">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                                                     href="#modal-{{ product.pk }}" data-bs-toggle="modal"><i
                        class="fas fa-expand"></i></a></li>
            </ul>
        </div>
    </div>
    <h6><a class="reset-anchor" href="{{ product.get_absolute_url }}">{{ product.title }}</a></h6>
    <p class="small text-muted">${{ product.price }}</p>
</div>

{% include 'components/_modal.html' %}