{% if products.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center justify-content-lg-end">
        {% if products.has_previous %}
        <li class="page-item mx-1">
            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item mx-1 active"><a class="page-link" href="?page=>{{ i }}">{{ i }}</a></li>
        {% else %}
                 <li class="page-item mx-1"><a class="page-link" href="?page=>{{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item ms-1">
            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}