{% load custom_tags %}
{% get_categories_data as data %}


<div class="col-lg-3 order-2 order-lg-1">
    <h5 class="text-uppercase mb-4">Categories</h5>
    {% for key, val in data.items %}
    <div class="py-2 px-4 bg-dark text-white mb-3">
        <strong class="small text-uppercase fw-bold">{{ key }}</strong>
    </div>
    <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">
        {% for subcat in val %}
        <li class="mb-2"><a class="reset-anchor" href="{{ subcat.get_absolute_url }}">{{ subcat }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    <h6 class="text-uppercase mb-4">Price range</h6>
    <div class="price-range pt-4 mb-5">
        <div id="range"></div>
        <div class="row pt-2">
            <div class="col-6"><strong class="small fw-bold text-uppercase">From</strong></div>
            <div class="col-6 text-end"><strong class="small fw-bold text-uppercase">To</strong></div>
        </div>
    </div>
    <h6 class="text-uppercase mb-3">Show only</h6>
    <div class="form-check mb-1">
        <input class="form-check-input" type="checkbox" id="checkbox_1">
        <label class="form-check-label" for="checkbox_1">Returns Accepted</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="checkbox" id="checkbox_2">
        <label class="form-check-label" for="checkbox_2">Returns Accepted</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="checkbox" id="checkbox_3">
        <label class="form-check-label" for="checkbox_3">Completed Items</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="checkbox" id="checkbox_4">
        <label class="form-check-label" for="checkbox_4">Sold Items</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="checkbox" id="checkbox_5">
        <label class="form-check-label" for="checkbox_5">Deals &amp; Savings</label>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="checkbox_6">
        <label class="form-check-label" for="checkbox_6">Authorized Seller</label>
    </div>
    <h6 class="text-uppercase mb-3">Buying format</h6>
    <div class="form-check mb-1">
        <input class="form-check-input" type="radio" name="customRadio" id="radio_1">
        <label class="form-check-label" for="radio_1">All Listings</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="radio" name="customRadio" id="radio_2">
        <label class="form-check-label" for="radio_2">Best Offer</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="radio" name="customRadio" id="radio_3">
        <label class="form-check-label" for="radio_3">Auction</label>
    </div>
    <div class="form-check mb-1">
        <input class="form-check-input" type="radio" name="customRadio" id="radio_4">
        <label class="form-check-label" for="radio_4">Buy It Now</label>
    </div>
</div>